# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# Environment files
.env
.env.local
.env.production

# Firebase
.firebase

# Zip files
*.zip

# Screenshots/Images in root
*.PNG
*.png
*.jpg
*.jpeg

# Capacitor / iOS
ios/App/App/public
ios/App/Pods
ios/App/*.xcworkspace/xcuserdata
ios/App/*.xcodeproj/xcuserdata
*.xcuserstate
